:root{
    --text: #76746d;
    --text-dark: #353532;
    /* --text-dark: #5c5b56; */

    --primary: #764b92;
    /* --primary: #fe5969; */

    --action: #b3db24;
    /* --action: #5ec7c2; */

    --accent: #ff0083;
    /* --accent: #5ec7c2; */

    --bg-paper: #fefeff;

    --error: #ff0044;
}

@font-face {
    font-family: 'HDV';
    src: url('../fonts/HVDComicSerifPro.woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Children Sans';
    src: url('../fonts/ChildrenSans.woff');
}

@font-face {
    font-family: 'Bake Bunny';
    src: url('../fonts/BakeBunny-Round.woff');
}

@font-face {
    font-family: 'KG';
    src: url('../fonts/KGBlankSpaceSolid-webfont.woff');
    font-weight: bold;
}

body{
    display: grid;
    margin: 0;

    font-family: "Children Sans", sans-serif;
    font-size: 1.35em;
    line-height: 1.3;
}

h1,h2{
    margin: 0;
}

h1{
    font-family: 'HDV', serif;
    color: var(--primary);
    font-size: 1.9em;
}

h2{
    font-family: 'KG', sans-serif;
    font-size: 1.3em;
    /* opacity: 0.8; */
    color: var(--text-dark);
}

p{
    margin: 0;
}

.hidden{
    display: none !important;
}


a{
    color: var(--action);
    text-decoration: none;
    text-shadow: 1px 1px 3px white;
    position: relative;
    cursor: pointer;
    transition: 0.2s transform;
}

a:hover{
    opacity: 0.8;
}

a:active{
    transition: 0s;
    transform: translateY(2px);
}

a::after{
    /* Line underneath hyperlink */
    content: "";
    opacity: 0;
    position: absolute;
    bottom: 0.1em;
    left: 0;
    right: 100%;
    height: 0.11em;
    border-radius: 0.2em;
    background-color: var(--action);
    transition: 0.2s;
}

a.active{
    transform: translateY(-4px);
}

a.active::after{
    opacity: 1;
    right: 25%;
}

button{
    background-color: var(--accent);
    border: 2px solid var(--accent);
    padding: 0.4em 1.2em 0.3em 1.2em;
    color: white;
    font: inherit;
    /* font-size: 1.1em; */
    cursor: pointer;
    margin-right: auto;
    font-family: "Bake Bunny", sans-serif;
    transition: 0.1s;
    border-radius: 0.5em;
}

button:hover{
    background-color: transparent;
    color: var(--accent);
}

button:active{
    transition: 0s;
    opacity: 0.5;
    transform: translateY(2px);
}

.flex-inline{
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.flex-inline .end{
    margin-left: auto;
}

nav{
    display: flex;
    gap: 1.5em;
    font-family: "Bake Bunny", sans-serif;
}

nav .end{
    margin-left: auto;
}

/* Input fields */
.input{
    display: grid;
}

.input .input-field{
    display: grid;
    position: relative;
}

.input.input-checkbox .input-field{
    display: flex;
    gap: 0.5em;
    align-items: center;
    font-size: 0.9em;
    color: rgba(0,0,0,0.6);
}

.input .input-field .field-icon{
    position: absolute;
    top: 50%;
    left: 0.5em;
    font-size: 1em;
    color: rgba(0,0,0,0.5);
    z-index: 1;
    width: 1.4em;
    transform: translateY(-50%);
    opacity: 0.2;
    pointer-events: none;
    user-select: none;
}

.input input{
    padding: 0.4em 0.5em;
    border: 2px solid rgba(0,0,0,0.1);
    background: transparent;
    backdrop-filter: blur(2px);
    border-radius: 0.5em;
    font: inherit;
    font-size: 1.1em;
    outline: none;
    transition: 0.2s;
    padding-left: 2.2em;
}

.input input:focus{
    border-color: rgba(0,0,0,0.3);
}

.input input::placeholder{
    color: rgba(0,0,0,0.7);
}

.input.error input{
    border-color: var(--error);
    border-radius: 0.5em 0.5em 0 0;
}

.input .input-desc{
    font-size: 0.8em;
    color: rgba(0,0,0,0.3);
    margin: 0.5em;
}

.input .input-msg{
    display: flex;
    gap: 0.5em;
    align-items: flex-start;
    font-size: 0.9em;
    color: white;
    background-color: var(--error);
    padding: 0 0.4em;
    overflow: hidden;
    border-radius: 0 0 0.5em 0.5em;

    height: 0;
    opacity: 0;
    margin-top: 2px;
    transform: translateY(-4px);

    transition: 0.5s opacity, 0.3s transform cubic-bezier(0.215, 0.610, 0.355, 1);
}

.input.error .input-msg{
    padding: 0.4em;
    height: auto;
    opacity: 1;
    transform: translateY(0);
    cursor: pointer;
}

.input.input-checkbox.error .input-msg{
    margin-top: 5px;
    border-radius: 0.5em 0.5em;
}

.input .input-msg .msg-icon{
    width: 1.1em;
    filter: invert(1);
    user-select: none;
}

.input .input-field.shake{
    animation: inputHorizontalShake 0.3s;
}

@keyframes inputHorizontalShake {
    0%, 100% { transform: translateX(0); }
    20% { transform: translateX(-3px); }
    40% { transform: translateX(3px); }
    60% { transform: translateX(-2px); }
    80% { transform: translateX(2px); }
}
