@import url('global.css');

body{
    background-color: #4C4F5E;
    display: grid;
    margin: 0;
    padding: 5em 0em;

    background-image: url(../img/tile.png);
    background-repeat: repeat;
    background-size: 560px;

    font-family: "Children Sans", sans-serif;
    font-size: 1.35em;
    line-height: 1.3;
    z-index: 0;
}

.clickable-small{
    cursor: pointer;
    font-size: 0.8em;
    opacity: 0.5;
    transition: 0.1s;
}

.clickable-small:hover{
    opacity: 0.7;
    text-decoration: underline;
}

/* Fade panels aniamtion */
.fade.fade-hide{
    opacity: 0;
    transition: 0.3s opacity;
}

.fade.fade-show{
    opacity: 1;
    transition: 0.3s opacity;
}

.fade.fade-hidden{
    opacity: 0;
    transition: 0s opacity;
}

.booklet{
    padding: 2em;
    padding-top: 68px;

    display: grid;
    gap: 1em;

    margin: auto;
    max-width: 800px;
    width: 100%;
    /* background-color: rgb(235, 231, 227); */
    background-color: var(--bg-paper);
    border-radius: 1.5em;
    position: relative;

    background-image: url(../img/dot.svg);
    background-repeat: repeat;
    background-size: 34px;
    background-position: top center;

    box-shadow: 0.7em 0.7em 2em rgba(0,0,0,0.4);

    color: var(--text);
    z-index: 0;
}

.booklet::before{
    content: '';
    position: absolute;
    top: -26px;
    right: 20px;
    left: 20px;
    height: 72px;

    background-image: url(../img/wire.png);
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
}

.hero{
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    /* gap: 1em; */
    align-items: flex-start;
}

.hero .hero-text{
    display: grid;
    gap: 1em;
}

.hero .hero-text .title{
    display: grid;
    gap: 0.4em;
}

.hero .hero-img{
    display: grid;
    align-items: center;
}

.hero .hero-img img{
    display: block;
    width: 100%;
    filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.25));
}

.hero h1{
    font-size: 2.4em;
}

.booklet .about{
    display: grid;
    gap: 1.5em;
}

.booklet .about>div{
    display: grid;
    gap: 0.5em;
}

.booklet .about h1{
    font-size: 1.9em;
}

/* Authentication */
.auth{
    display: grid;
    gap: 2em;
    align-items: flex-start;
    grid-template-columns: 1fr 1.1fr;
}

.auth.reverse{
    grid-template-columns: 1.1fr 1fr;
}

.auth .auth-img{
    display: block;
    width: 100%;
    filter: drop-shadow(1px 2px 1px rgba(0,0,0,0.25));
    transition: 0.3s;
}

.auth .auth-form{
    display: grid;
    gap: 1em;
}

.auth .auth-form .desc{
    display: grid;
    gap: 0.5em;
}

.auth .inputs{
    display: grid;
    gap: 0.5em;
}

.auth .inputs{
    display: grid;
    gap: 0.5em;
}

/* Auth transition animations */
.auth,
.auth-form{
    transition: 0.3s opacity, 0.3s scale;
}

.auth.fade-hide,
.auth-form.fade-hide{
    opacity: 0;
    scale: 0.98;
}

.auth.fade-show,
.auth-form.fade-show{
    opacity: 1;
    scale: 1;
}

.auth.fade-hide .auth-img{
    transform: translateX(2em);
}

.auth.reverse.fade-hide .auth-img{
    transform: translateX(-2em);
}

.auth.fade-show .auth-img,
.auth.reverse.fade-show .auth-img{
    transform: translateX(0em);
}
